/* Genereller Style für die komplette Seite */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style für den Container wo die Elemente hinein kommen */
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/restaurant-innen2.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/* Style für die Eingabefelder etc. */
form{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 1000px;
    height: 80%;
    border-radius: 10px;
}

.eingabe input{
    background-color: #e9f6ff;
}

.eingabe textarea{
    background-color: #e9f6ff;
}

.title h2{
    font-weight: 600;
    color: #82bcff;
    font-size: 40px;
    margin-bottom: 5px;
}

.title hr{
    border: none;
    width: 230px;
    height: 5px;
    background-color: #82bcff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    border: #666;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    border: #666;
}

.contact-inputs:focus{
    border: 2px solid #09007a;
}

.contact-inputs::placeholder{
    color: #4b4b4b;
}
/* Style für den Button */
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #67bbff, #1f41ff);
    cursor: pointer;
    width: 110px;
    margin-bottom: 10px;
}
/* Anpassung für Handy etc. */
@media (max-width:700px){
    .contact-inputs{
        width: 80vw;
    }

    .contact-right{
        display: none;
    }
}
